<div class="opponent">
    {{card-game/hand hand=opponentHand}}
    {{card-game/deck deck=opponentDeck drawCard=(action "drawCard")}}
</div>

{{card-game/field}}

<div class="me">
    {{card-game/hand deck=currentDeck hand=currentHand me=true}}
    {{card-game/deck deck=currentDeck drawCard=(action "drawCard" currentDeck currentHand) me=true}}
</div>
